<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>One Gotta Go!</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  
    <script>
      function isValid() {
        var option = document.getElementsByName("option");

        for (var i = 0; i < option.length; i++) {
          if (option[i].checked) return true;
        }

        msg = "Please make a selection (or click the Skip button)!";
        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
        const wrapper = document.createElement('div')
        wrapper.innerHTML = [
          `<div class="alert alert-warning alert-dismissible" role="alert">`,
          `   <div>${msg}</div>`,
          '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
          '</div>'
        ].join('')

        alertPlaceholder.append(wrapper)
        return false;
      }
    </script>
  </head>
  <body>
    <div class="container py-3">
        <header>
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <span class="fs-4">One Gotta Go!</span>
                </a>
            </div>
            <div class="p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal">How To Play</h1>
                <p class="fs-5 text-muted">Look at the options and choose the one you think you could live without.</p>
            </div>
        </header>
        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                </div>
                <div class="col">
                  <form id="cardform" action="{{ url_for('index') }}" method="post">
                    <input type="text" name="card_id" id="card_id" value="{{card_id}}" hidden>
                    <input type="text" name="skip" id="skip" value="" hidden>
                  <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                      <h4 class="my-0 fw-normal">{{category}}</h4>
                    </div>
                    <div class="card-title">
                        <ul class="list-group list-group-flush">
                            {% for value in options %}
                            <li class="list-group-item">
                                <div class="form-check">
                                    <input id="{{loop.index0}}" value="{{loop.index0}}" name="option" type="radio" class="form-check-input" required>
                                    <label for="{{loop.index0}}" class="form-check-label">{{value}}</label>
                                </div>
                            </li>                            
                            {% endfor %}
                          </ul>

                    </div>
                    <div class="card-footer">
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-primary" type="button" onclick="if (isValid()) { submit(); }">Gotta Go!</button>
                            <button class="btn btn-secondary" type="button" onclick="document.getElementById('skip').value = 'skip'; submit();">Skip</button>
                          </div>
                    </div>
                  </div>
                  </form>
                </div>
                <div class="col">
                </div>
            </div>
            <div id="liveAlertPlaceholder"></div>
        </main>        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>